*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: var(--color-primary-dark-blue);
  font-family: "Roboto", "Play", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

.button {
  color: var(--color-primary-white);
  background-color: var(--color-primary-light-blue);
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-primary-dark-blue);
  background-color: transparent;
}

.carousel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: var(--color-primary-white);
  fill: var(--color-primary-dark-blue);
  border: 1px solid var(--color-primary-dark-blue);
  border-radius: 50%;
  cursor: pointer;
}
.carousel-button:hover {
  background-color: var(--color-primary-light-blue);
  fill: var(--color-primary-white);
  border: 1px solid var(--color-primary-light-blue);
}
.carousel-button:last-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(1, 31, 74, 0.4);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 720px;
  height: 680px;
  background-image: url("../../images/footer-background.png");
  background-color: var(--color-primary-dark-blue);
  border-radius: 48px;
}
.modal__btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
}

.advantages-section {
  margin-top: 176px;
  background-image: url("../../images/advantages-background.jpg");
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.advantages-section__title {
  padding-top: 180px;
  font-family: Play;
  font-size: 64px;
  text-align: center;
  font-weight: 700;
}
.advantages-section__title-accent {
  color: var(--color-primary-light-blue);
}
.advantages-section__menu {
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  text-align: center;
}
.advantages-section__item {
  padding: 24px 32px;
  background-color: var(--color-primary-white);
  border-radius: 32px;
  color: black;
}
.advantages-section__icon {
  fill: var(--color-primary-light-blue);
}
.advantages-section__text {
  max-width: 252px;
}

.contact-section {
  margin-top: 96px;
}
.contact-section__title {
  text-align: center;
  font-size: 64px;
  font-family: Play;
  font-weight: 700;
}
.contact-section__title-accent {
  color: var(--color-primary-light-blue);
}

.container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer {
  margin-top: 94px;
  position: relative;
  padding-top: 56px;
  background-color: var(--color-primary-dark-blue);
  background-image: url("../../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../../images/bottles-photo.png");
  width: 247px;
  height: 152px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 56px;
}
.footer__nav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__logo-link {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__menu {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__address-info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.footer__link, .footer__address-link {
  color: var(--color-primary-white);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  padding-top: 16px;
}
.footer__copyright {
  color: var(--color-secondary-light-grey);
  font-size: 13px;
  font-style: normal;
}
.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
}
.footer__social-icon {
  fill: var(--color-primary-white);
  background-color: transparent;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  margin: 42px auto;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--color-primary-dark-blue);
}
.header__link {
  color: var(--color-primary-dark-blue);
  text-decoration: none;
}
.header__link:hover {
  color: var(--color-primary-light-blue);
}

.hero-section {
  background-image: linear-gradient(89deg, #fff 30.62%, rgba(255, 255, 255, 0.85) 41.31%, rgba(255, 255, 255, 0.19) 58.65%, rgba(255, 255, 255, 0) 72.78%), url("../../images/hero-photo.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
}
.hero-section__title {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  padding-top: 16px;
  padding-bottom: 40px;
}
.hero-section__name {
  padding-top: 125px;
}
.hero-section__text {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: #4a4a4a;
  max-width: 240px;
}

.procedure-section {
  margin-top: 96px;
}
.procedure-section__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.procedure-section__title {
  text-align: center;
  font-size: 64px;
  font-family: Play;
  font-weight: 700;
}
.procedure-section__title-accent {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}
.procedure-section__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 22px;
  line-height: 1.2;
}
.procedure-section__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 456px;
  padding: 372px 77px 32px 115px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(48.53%, rgba(1, 28, 68, 0)), color-stop(84.61%, rgba(1, 28, 68, 0.73)), color-stop(101.39%, #011c44));
  background-image: linear-gradient(180deg, rgba(1, 28, 68, 0) 48.53%, rgba(1, 28, 68, 0.73) 84.61%, #011c44 101.39%);
  border-radius: 4px 120px;
  overflow: hidden;
}
.procedure-section__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.procedure-section__item-title {
  color: var(--color-primary-white);
  text-align: center;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
}

.rebuilt-section {
  margin-top: 40px;
}
.rebuilt-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}
.rebuilt-section__title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}
.rebuilt-section__title-accent {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}
.rebuilt-section__text {
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
}
.rebuilt-section__text-accent {
  text-transform: capitalize;
}
.rebuilt-section__photos {
  position: relative;
}
.rebuilt-section__photo-before {
  position: absolute;
  top: -40px;
  border-radius: 50%;
}
.rebuilt-section__photo-after {
  position: absolute;
  top: 335px;
  border-radius: 50%;
}
.rebuilt-section__star {
  position: absolute;
}
.rebuilt-section__star-first {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  fill: var(--color-primary-light-blue);
  -webkit-transform: translateX(470px);
          transform: translateX(470px);
}
.rebuilt-section__star-second {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  fill: var(--color-primary-dark-blue);
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
:root {
  --color-primary-white: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-dark-blue: #011c44;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-light-grey: #747272;
  --color-secondary-yellow: #ffd02b;
}/*# sourceMappingURL=main.css.map */