* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: var(--color-primary-dark-blue);
  font-family: "Roboto", "Play", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.button {
  color: var(--color-primary-white);
  background-color: var(--color-primary-light-blue);
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  color: var(--color-primary-dark-blue);
  background-color: transparent;
}

.advantages-section {
  background-color: aqua;
}
.advantages-section__title {
  font-family: Play;
  font-size: 64px;
  text-align: center;
  font-weight: 700;
}
.advantages-section__title-accent {
  color: var(--color-primary-light-blue);
}
.advantages-section__menu {
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
}
.advantages-section__item {
  background-color: var(--color-primary-white);
  border-radius: 32px;
}

.contact-section__title {
  text-align: center;
  font-size: 64px;
  font-family: Play;
  font-weight: 700;
}
.contact-section__title-accent {
  color: var(--color-primary-light-blue);
}

.container {
  width: 100%;
  max-width: 1176px;
  margin: 0 auto;
  padding: 0 24px;
}

.footer {
  background-color: var(--color-primary-dark-blue);
}
.footer__logo-link {
  color: var(--color-primary-light-blue);
  text-decoration: none;
  font-size: 24px;
  font-family: Play;
  font-weight: 700;
  line-height: 0.9;
}
.footer__link, .footer__address-link {
  color: var(--color-primary-white);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
}
.footer__copyright {
  color: var(--color-secondary-light-grey);
  font-size: 13px;
  font-style: normal;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 56px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo-link {
  color: var(--color-primary-light-blue);
  text-decoration: none;
  font-family: Play;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 0.95;
}
.header__link {
  color: var(--color-primary-dark-blue);
  text-decoration: none;
}
.header__link:hover {
  color: var(--color-primary-light-blue);
}

.hero-section__title {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
}
.hero-section__text {
  font-size: 12px;
  font-weight: 600;
}

.procedure-section__title {
  text-align: center;
  font-size: 64px;
  font-family: Play;
  font-weight: 700;
}
.procedure-section__title-accent {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}
.procedure-section__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  font-size: 22px;
  line-height: 1.2;
}

.rebuilt-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.rebuilt-section__title {
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}
.rebuilt-section__title-accent {
  color: var(--color-primary-light-blue);
  text-transform: capitalize;
}
.rebuilt-section__text {
  font-size: 22px;
  line-height: 1.7;
  max-width: 709px;
}
.rebuilt-section__text-accent {
  text-transform: capitalize;
}
.rebuilt-section__photo {
  border-radius: 50%;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}
:root {
  --color-primary-white: #ffffff;
  --color-primary-light-blue: #2b7fff;
  --color-primary-dark-blue: #011c44;
  --color-secondary-dark-grey: #4a4a4a;
  --color-secondary-light-grey: #747272;
  --color-secondary-yellow: #ffd02b;
}/*# sourceMappingURL=main.css.map */