.button {
  color: var(--color-primary-white);
  background-color: var(--color-primary-light-blue);
  border: 2px solid var(--color-primary-light-blue);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 14px;
  padding: 16px 32px;
}

.button:hover {
  color: var(--color-primary-dark-blue);
  background-color: var(--color-secondary-light-grey);
}
