.contact-form {
  &__field {
    margin-bottom: 16px;
  }
  &__label {
    display: block;
  }
  &__input {
    padding: 18px 32px;
    color: var(--color-primary-white);

    width: 100%;
    border: 2px solid var(--color-secondary-light-grey);
    border-radius: 32px;
    background-color: transparent;
  }
  &__input:focus {
    background-color: var(--color-secondary-light-grey);
    color: var(--color-primary-white);
    outline: none;
  }
  &__input::placeholder {
    font-size: 13px;
    color: var(--color-primary-white);
  }
}
