.advantages-section {
  margin-top: 176px;
  background-image: url('../../images/advantages-background.jpg');
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    padding-top: 180px;
    font-family: Play;
    font-size: 64px;
    text-align: center;
    font-weight: 700;
  }

  &__title-accent {
    color: var(--color-primary-light-blue);
  }

  &__menu {
    line-height: 1.3;
    display: flex;
    gap: 56px;
    text-align: center;
  }
  &__item {
    padding: 24px 32px;
    background-color: var(--color-primary-white);
    border-radius: 32px;
    color: black;
  }
  &__icon {
    fill: var(--color-primary-light-blue);
  }
  &__text {
    max-width: 252px;
  }
}
