.advantages-section {
  &__title {
    font-family: Play;
    font-size: 64px;
    text-align: center;
    font-weight: 700;
  }

  &__title-accent {
    color: var(--color-primary-light-blue);
  }
}
