.footer {
  margin-top: 94px;
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primary-dark-blue);
  background-image: url('../../images/footer-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    content: '';
    background-image: url('../../images/bottles-photo.png');
    width: 278px;
    height: 213px;
  }
  &__container {
    display: flex;
    gap: 20px;
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
  }
  &__logo-link {
    flex-basis: 50%;
  }
  &__menu {
    flex-basis: 50%;
  }

  &__address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
  }
  &__contacts {
    flex-basis: 50%;
  }
  &__address-info {
    flex-basis: 50%;
  }

  &__link,
  &__address-link {
    color: var(--color-primary-white);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    padding-top: 16px;
  }

  &__copyright {
    color: var(--color-secondary-light-grey);
    font-size: 13px;
    font-style: normal;
  }
  &__social-icons {
    display: flex;
    padding-top: 16px;
  }
  &__social-icon {
    fill: var(--color-primary-white);
    background-color: transparent;
  }
}
