.footer {
  background-color: var(--color-primary-dark-blue);
  background-image: url('../../images/footer-background.png');

  &__container {
    display: flex;
  }

  &__nav {
    flex-basis: 50%;
    display: flex;
  }
  &__logo-link {
    flex-basis: 50%;
  }
  &__menu {
    flex-basis: 50%;
  }

  &__address {
    flex-basis: 50%;
    display: flex;
  }
  &__contacts {
    flex-basis: 50%;
  }
  &__address-info {
    flex-basis: 50%;
  }

  &__link,
  &__address-link {
    color: var(--color-primary-white);
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
  }

  &__copyright {
    color: var(--color-secondary-light-grey);
    font-size: 13px;
    font-style: normal;
  }
  &__socials-icon {
    fill: var(--color-primary-white);
    background-color: transparent;
  }
}
