.procedure-section {
  &__title {
    text-align: center;
    font-size: 64px;
    font-family: Play;
    font-weight: 700;
  }

  &__title-accent {
    color: var(--color-primary-light-blue);
    text-transform: capitalize;
  }
  &__menu {
    display: flex;
    gap: 16px;
    font-size: 22px;
    line-height: 1.2;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    fill: var(--color-primary-dark-blue);
    cursor: pointer;
  }
  &__button:hover {
    background-color: var(--color-primary-light-blue);
    fill: var(--color-primary-white);
  }
}
