.rebuilt-section {
  padding-top: 40px;
  &__container {
    display: flex;
    gap: 28px;
  }

  &__title {
    font-family: Play;

    font-size: 64px;
    font-weight: 700;
  }
  &__title-accent {
    color: var(--color-primary-light-blue);
    text-transform: capitalize;
  }

  &__text {
    font-size: 22px;
    line-height: 1.7;
    max-width: 709px;
  }
  &__text-accent {
    text-transform: capitalize;
  }

  &__photos {
    position: relative;
  }
  &__photo {
    border-radius: 50%;
  }
  &__photo:first-child {
    position: absolute;
    top: -40px;
  }
  &__photo:last-child {
    position: absolute;
    bottom: -200px;
  }
}
