.rebuilt-section {
  margin-top: 40px;
  &__container {
    display: flex;
    gap: 28px;
  }

  &__title {
    margin-bottom: 0;
    font-family: Play;
    padding-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
  }
  &__title-accent {
    color: var(--color-primary-light-blue);
    text-transform: capitalize;
  }

  &__text {
    padding-bottom: 40px;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.7;
    max-width: 709px;
  }
  &__text-accent {
    text-transform: capitalize;
  }

  &__photos {
    position: relative;
  }

  &__photo-before {
    position: absolute;
    top: -40px;
    border-radius: 50%;
  }
  &__photo-after {
    position: absolute;
    top: 335px;
    border-radius: 50%;
  }

  &__star {
    position: absolute;
  }
  &__star-first {
    transform: rotate(30deg);
    fill: var(--color-primary-light-blue);
    transform: translateX(470px);
  }
  &__star-second {
    transform: rotate(-30deg);
    fill: var(--color-primary-dark-blue);
    transform: translateY(300px);
  }
}
